/aa_test.png
/barry_test.jpg
/ba_test.jpg
/CED-1-36-unheated-air-curtain.jpg
/dataset
/dataset.zip
/downloader.py
/facilities_models.csv
/facilities_models.xlsx
/hc_test.jpg
/hc_test.png
/logs
/model.py
/model_training.py
/op_test.jpg
/remove_empty_folders.py
/rm_test
/test
/test_pred.py
/venv
/create_cat_list.py
atlass_zr500vsd_2.PNG
atlass_zr500vsd_3.PNG
atlass_zr500vsd_4.PNG
atlass_zr500vsd_5.PNG
atlass_zr500vsd.PNG
tes_ocr.py
